<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Citas medicas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

  <!-- Animate.css -->
  <link rel="stylesheet" href="assets/hola/css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="assets/hola/css/icomoon.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="assets/hola/css/bootstrap.css">
  <!-- Flexslider  -->
  <link rel="stylesheet" href="assets/hola/css/flexslider.css">
  <!-- Flaticons  -->
  <link rel="stylesheet" href="assets/hola/fonts/flaticon/font/flaticon.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="assets/hola/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/hola/css/owl.theme.default.min.css">
  <!-- Theme style  -->
  <link rel="stylesheet" href="assets/hola/css/style.css">

  <!-- Modernizr JS -->
  <script src="assets/hola/js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="assets/hola/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<div id="colorlib-page">


  <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
    <h1 id="colorlib-logo"><a href="citas">Citas Medicas</a></h1>
    <nav id="colorlib-main-menu" role="navigation">
      <ul>
        <li ><a href="citas">Inicio</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li ><a href="historial">Datos Personales</a></li>
        <li class="colorlib-active"><a href="pedir">Pedir Citas</a></li>
        <li><a href="contactos">Contacto</a></li>
        <li><a href="logi">Salir</a></li>
      </ul>
    </nav>

  </aside>

  <div id="colorlib-main">
    <div class="colorlib-services">
      <div class="colorlib-narrow-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
            <span class="heading-meta">Citas </span>
            <h2 class="colorlib-heading">Pedir Citas</h2>
          </div>
        </div>
        <div class="row row-bottom-padded-md">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="tm-contact-left-half tm-gray-bg">
                  <div class="tm-contact-inner-pad">
                    <h2 class="tm-section-title">Datos Personales</h2>
                    <form #loginform="ngForm" (ngSubmit)="login(loginform)">

                      <div class="form-group">
                        <input type="text"  name="cedula" class="form-control" placeholder="Cedula"  required  [(ngModel)]="objeto.cedula"/>
                      </div>
                      <div class="form-group">
                        <input type="date"  name="fecha" class="form-control" placeholder="Fecha"  required [(ngModel)]="objeto.fecha"/>
                      </div>
                      <div class="form-group">
                        <input type="text"  name="hora" class="form-control" placeholder="Hora"  required  [(ngModel)]="objeto.hora"/>
                      </div>
                      <div class="form-group">
                        <input type="text"  name="seguro" class="form-control" placeholder="seguro"  required  [(ngModel)]="objeto.seguro"/>
                      </div>

                      <button type="submit"  class="btn btn-primary pull-xs-right tm-button tm-button-normal">Guardar</button>

                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>



        </div>




      </div>




    </div>

    <!-- jQuery -->
    <script src="assets/hola/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="assets/hola/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="assets/hola/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="assets/hola/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="assets/hola/js/jquery.flexslider-min.js"></script>
    <!-- Sticky Kit -->
    <script src="assets/hola/js/sticky-kit.min.js"></script>
    <!-- Owl carousel -->
    <script src="assets/hola/js/owl.carousel.min.js"></script>
    <!-- Counters -->
    <script src="assets/hola/js/jquery.countTo.js"></script>


    <!-- MAIN JS -->
    <script src="assets/hola/js/main.js"></script>



